@{
    ViewBag.Title = "About This Example";
}
<h2>@ViewBag.Title</h2>
<div>
    <p>Below technologies are applied:</p>
    <ul>
        <li>ASP.NET MVC framework</li>
        <li>HTML, CSS, JavaScript</li>
        <li>MS SQL Server database</li>
        <li>Bootstrap - to design the UI</li>
        <li>jQuery Ajax - to check duplicate user name</li>
        <li>Regular Expression - to validate user input</li>
    </ul>

    <p>Below functionality are implemented:</p>
    <ul>
        <li>Create User</li>
        <li>Login with username and password</li>
        <li>Password Reset</li>
        <li>Data validation</li>
        <li>Navigation bar</li>
        <li>Login/Logout switch</li>
        <li>Access permission control</li>
    </ul>
</div>
